*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-item {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.grid-item table{
    width: 30%;
    border-collapse: collapse;
    margin-top: 20px;
}
.grid-item td{
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid blue;
}
.grid-item th{
    border-bottom: 2px solid blue;
}
.grid-item tr:nth-child(2n){
    background-color: lightblue;
}

.menu-items table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.menu-items td{
    padding: 10px;
    text-align: center;
    color: white;
    background-color: blue;
    border-radius: 0.25em;
}




